.follower {
    width: 190px;
    margin-right: 10px;
}

.col-lg-5 {
    max-width: 800px;
    flex: 1;
}

.list-group-item:first-child{
    border-radius: 15px;
}

.followerWrapper {
    margin-bottom: 5px;
    border-radius: 15px;
}

